.container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
  align-self: stretch;
}

.container2 {
  display: flex;
  padding: 24px;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;

  border-radius: 8px;
  background: #fff;
}

.userPicContainer {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;

  border-radius: 8px;
  background: var(--gray-5, #e0e0e0);
}

.userPic {
  flex-shrink: 0;
}

.reviewDataContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
  flex: 1 0 0;
}

.reviewData {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.reviewHeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
}

.reviewAuthor {
  color: var(--text-primary, #1b1f23);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.reviewRatingContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.reviewRatingHeader {
  color: var(--text-primary, #1b1f23);
  font-size: 20px;
  line-height: 32px;
}

.reviewRating {
  color: var(--text-primary, #1b1f23);
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.reviewTextContainer {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.reviewText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 0;

  color: var(--text-primary, #1b1f23);
  font-size: 16px;
  line-height: 24px;
}
